* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
/* header section */
.header {
  max-width: 65%;
  margin: 50px auto;
}
.banner {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 160px;
}
.banner h4 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* Main Sections */
/* Offer sections */
.offers {
  text-align: center;
  margin-top: 120px;
}
.offers h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.offers p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 16px;
}
.offers h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.mid-night {
  max-width: 65%;
  margin: 50px auto;
  margin-top: 120px;
  text-align: center;
}
.mid-night-bg {
  display: flex;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
}
.mid-party-description {
  padding: 126px;
}
.mid-party-description h1 {
  text-align: left;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.mid-party-description p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  line-height: 30px;
}
.mid-party-description h5 {
  margin-top: 48px;
  color: #fff;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.new-year-img {
  padding: 70px 70px 0 0;
}
.lal-leka {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.kalo-leka {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.join-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  background: #f00;
  padding: 16px 32px;
  margin-top: 48px;
}
.date-time {
  /* margin: 320px; */
  max-width: 65%;
  margin: 50px auto;
  margin-top: 120px;
  text-align: center;
}
.time-details {
  text-align: center;
  margin-top: 120px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 300px 200px 300px;
  border-radius: 20px;
}
/* Comming Soon Offera */
.coming-soon-info {
  display: flex;
  max-width: 65%;
  margin: 50px auto;
  margin-top: 120px;
  text-align: left;
  gap: 110px;
}
.coming-soon-details h4 {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.coming-soon-details h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.coming-soon-details p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.coming-soon-2nd-details h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.coming-soon-2nd-details p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.coming-soon-img img {
  gap: 200px;
  border-radius: 463px;
  border: 15px solid #f00;
}
.fifty-off {
  text-align: center;
  padding: 0px 200px 0px 200px;
  margin: 120px 200px 0px 200px;
}
.fifty-off h6 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.fifty-off h4 {
  color: #070211;
  font-family: Merriweather;
  font-size: 62px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holiday {
  color: #f00;
}
.fifty-off p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 64px;
}
.lal-img {
  background-image: url("../images/Rectangle\ 2.png");
  height: 229px;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: bottom center;
  padding: 10em;
  position: absolute;
}
.img-one {
  margin: 0 0 0px 100px;
}
.gift {
  margin-right: 20000x;
}
.awsome-prt {
  text-align: left;
  /* padding: 100px 300px 0px 300px; */
  max-width: 60%;
  margin-left: 17%;
  margin-top: 120px;
}
.awsome-prt h6 {
  margin-bottom: 26px;
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.awsome-prt h4 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.awsome-prt p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.uporer-line {
  margin: 4px;
}

.onek-pic {
  margin-top: 48px;
  margin-left: 17%;
  max-width: 65%;
}
.custom-size {
  width: 380px;
  height: 400px;
  max-width: 70%;
  margin: 10px;
  border-radius: 16px;
}
/* Message section */
.message-details {
  text-align: center;
  margin-top: 120px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 100px 300px 200px 300px;
}
.msg-size {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

#subscribe {
  color: #070211;
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.message-details p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.mail-size {
  padding: 25px 250px 25px 30px;
  border-radius: 50px 0px 0px 50px;
  /* border-top-right-radius: 50px; */
  background: #fff;
  border: none;
  font-size: 20px;
}
.sub-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 25px 50px 25px 50px;
  border: none;
}
.mail-btn {
  display: flex;
}
/* footer section */
.pa-pa {
  background-color: rgb(0, 0, 0);
  display: flex;
  max-width: 100%;
  margin: 50px auto;
  margin-top: 120px;
  padding-left: 19%;
}
.all-foot {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}
.address-1 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 230px;
}
#all-rgt {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
}
.social-img{
  margin: 240px 120px;
}
.contact{
  margin-top: 100px;
  color: #FFF;
 
}
.txt{
  font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 20px;
}
.unsubscribe{
margin-top: 375px;
color: #FFF;
font-family: Inter;
font-size: 18px;
font-weight: 500;
}
.line{
 margin-bottom: 40px;
 color: #FFFFFF26;
 background: rgba(255, 255, 255, 0.15);
 border: none;
}